{% extends "nunjucks/templates/main.njk" %}

{% block body %}
    <div class="centred-wrapper">
        <div class="">
            <a class="form-link" href="/requester/rdt">RDT</a>
            <a class="form-link" href="/requester/rrf">RRF</a>
        </div>
    </div>
{% endblock %}
