{% extends "nunjucks/templates/main.njk" %}

{% block body %}
    <div class="centred-wrapper">
        <div class="login-wrapper">
          <h1>Success</h1>
          <p>{{ uuid }}</p>
          <a href="/requester/index">Go back to form</a>
        </div>
        </div>
    </div>
{% endblock %}
