{% extends "nunjucks/templates/main.njk" %}

{% block body %}
    <div class="centred-wrapper">
        <div class="login-wrapper">
            <form class="" action="/" method="post">
                <h1>Sign in</h1>
                <div class="form-group">
                    <label class="strong" for="">Email address</label>
                    <input class="centred login-input" type="text" name="" value="">
                </div>
                <div class="form-group">
                    <label class="strong" for="">Password</label>
                    <input class="centred login-input" type="text" name="" value="">
                </div>

                <input class="login-button centred" type="submit" name="" value="Sign in">
            </form>
        </div>
    </div>
{% endblock %}
